.black {
  color: black
}

.header{
  .active{
    font-weight: 800;
    text-shadow: 1px 1px 1px gray;
    font-size: larger;
  }
}

.image-preview{
  display: inline-block;
  position: relative;
  border: 5px solid transparent;

  .inset{
    position: absolute;
    bottom:1px;
    left: 0;
    color:black;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    text-align: center;font-weight: bold;
    font-size: 1.25em;

  }

  .glyphicon{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    color:#ddffdd ;
    opacity: .75;
    text-shadow: 2px 2px black;
  }
  img{
    width: 200px;
    height: 200px;
  }
  video{
    width: 200px;
    height: 200px;
    vertical-align: middle;
    background-color: black;
  }
}

.topic{
  text-align: center;
  .image-preview{
    animation: fadein 1.0s  ease-out;
    
    @keyframes fadein {
      0%{
        opacity: 0.0;
      }
      100%{
        opacity: 1.0;
      }
    }
  }
}

.image-detail{
  .panel-body{
    text-align: center;
  }
  video, img{
    max-width: 100%;
  }
}

